.closed {
	display: none;
}
#accordion li:not(.value) {
	cursor: pointer;
}
#accordion li.value {
	cursor: default;
}
.value {
	font-style: italic;
}
div#uniques span.head {
	font-weight: 600;
}
div#uniques span.value {
	font-style: italic;
}
span.error {
	color: darkred;
}
span.valid {
	color: darkgreen;
}